<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.ChatKnowledgeMapper">
    
    <resultMap type="ChatKnowledge" id="ChatKnowledgeResult">
        <result property="knowledgeId"    column="knowledge_id"    />
        <result property="knowledgeName"    column="knowledge_name"    />
        <result property="desc"    column="desc"    />
        <result property="userId"    column="user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectChatKnowledgeVo">
        select knowledge_id, knowledge_name, desc, user_id, create_by, create_time, update_by, update_time, remark from chat_knowledge
    </sql>

    <select id="selectChatKnowledgeList" parameterType="ChatKnowledge" resultMap="ChatKnowledgeResult">
        <include refid="selectChatKnowledgeVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectChatKnowledgeByKnowledgeId" parameterType="String" resultMap="ChatKnowledgeResult">
        <include refid="selectChatKnowledgeVo"/>
        where knowledge_id = #{knowledgeId}
    </select>

    <insert id="insertChatKnowledge" parameterType="ChatKnowledge">
        insert into chat_knowledge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="knowledgeId != null">knowledge_id,</if>
            <if test="knowledgeName != null">knowledge_name,</if>
            <if test="desc != null">desc,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="knowledgeId != null">#{knowledgeId},</if>
            <if test="knowledgeName != null">#{knowledgeName},</if>
            <if test="desc != null">#{desc},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateChatKnowledge" parameterType="ChatKnowledge">
        update chat_knowledge
        <trim prefix="SET" suffixOverrides=",">
            <if test="knowledgeName != null">knowledge_name = #{knowledgeName},</if>
            <if test="desc != null">desc = #{desc},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where knowledge_id = #{knowledgeId}
    </update>

    <delete id="deleteChatKnowledgeByKnowledgeId" parameterType="String">
        delete from chat_knowledge where knowledge_id = #{knowledgeId}
    </delete>

    <delete id="deleteChatKnowledgeByKnowledgeIds" parameterType="String">
        delete from chat_knowledge where knowledge_id in 
        <foreach item="knowledgeId" collection="array" open="(" separator="," close=")">
            #{knowledgeId}
        </foreach>
    </delete>
</mapper>