<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.ChatFileMapper">
    
    <resultMap type="com.ruoyi.domain.ChatFile" id="ChatFileResult">
        <result property="knowledgeId"    column="knowledge_id"    />
        <result property="fileId"    column="file_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileFormat"    column="file_format"    />
        <result property="fileSize"    column="file_size"    />
        <result property="content"    column="content"    />
        <result property="isVector"    column="is_vector"    />
        <result property="isPdfAnalysis"    column="is_pdf_analysis"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectChatFileVo">
        select knowledge_id, file_id, file_name, file_format, file_size, content,is_vector,is_pdf_analysis,create_by, create_time, update_by, update_time, remark from chat_file
    </sql>

    <select id="selectChatFileList" parameterType="com.ruoyi.domain.ChatFile" resultMap="ChatFileResult">
        <include refid="selectChatFileVo"/>
        <where>
            <if test="knowledgeId != null "> and knowledge_id = #{knowledgeId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>

    <select id="selectChatFileByKnowledgeId" parameterType="String" resultMap="ChatFileResult">
        <include refid="selectChatFileVo"/>
        where knowledge_id = #{knowledgeId}
    </select>
    
    <select id="selectChatFileByFileId" parameterType="String" resultMap="ChatFileResult">
        <include refid="selectChatFileVo"/>
        where file_id = #{fileId}
    </select>

    <insert id="insertChatFile" parameterType="com.ruoyi.domain.ChatFile" useGeneratedKeys="true" keyProperty="fileId">
        insert into chat_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="knowledgeId != null">knowledge_id,</if>
            <if test="fileId != null">file_id,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="fileFormat != null and fileFormat != ''">file_format,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="content != null">content,</if>
            <if test="isVector != null">is_vector,</if>
            <if test="isPdfAnalysis != null">is_pdf_analysis,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="knowledgeId != null">#{knowledgeId},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="fileFormat != null and fileFormat != ''">#{fileFormat},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="content != null">#{content},</if>
            <if test="isVector != null">#{isVector},</if>
            <if test="isPdfAnalysis != null">#{isPdfAnalysis},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateChatFile" parameterType="com.ruoyi.domain.ChatFile">
        update chat_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="knowledgeId != null">knowledge_id = #{knowledgeId},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="fileFormat != null and fileFormat != ''">file_format = #{fileFormat},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="content != null">content = #{content},</if>
            <if test="isVector != null">is_vector = #{isVector},</if>
            <if test="isPdfAnalysis != null">is_pdf_analysis = #{isPdfAnalysis},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteChatFileByFileId" parameterType="String">
        delete from chat_file where file_id = #{fileId}
    </delete>

    <delete id="deleteChatFileByFileIds" parameterType="String">
        delete from chat_file where file_id in
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
</mapper>